<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home Page</title>
</head>
<body>
    <form action="reg" class="Form">
        <h1>Sign up</h1>
        <input type="text" id="login" placeholder="Login" required>
        <input type="text" id="password" placeholder="Password" required>
        <input type="submit">
        <label>Have an account? <a href="#">Sign up now</a></label>
    </form>
</body>
</html>